<section id="contact" #contact>
    <div>
      <h1 translate>
        Contact
        <img
          loading="lazy"
          class="stroke"
          src="assets/img/icons/strokePurpleShort3.png"
          alt="StrokePurple"
        />
      </h1>
      <div class="content">
        <div class="left">
          <h2 translate>Got a problem to solve?</h2>
          <p translate>
            Contact me using this form. I am very interested in hearing from you, 
            learning about your ideas and contributing my work to your projects.
          </p>
          <p translate>Need a Frontend developer? Contact me!</p>
        </div>
        <div class="right">
          <form [formGroup]="contactForm" (submit)="sendMail()">
          <!-- <form (submit)="sendMail()"> -->
            <!-- <p>{{ contactForm.value | json }}</p> -->
            <p class="green" *ngIf="mailSent" translate>
              Message sent successfully
            </p>
            <input
              formControlName="name"
              class="name"
              placeholder="Your name"
              type="text"
              #name
              id="name"
            />
            <ng-container *ngIf="contactForm.controls['name'] as name">
              <ng-container *ngIf="name.dirty || name.touched">
                <ng-container *ngIf="name.errors as errors">
                  <p class="error" *ngIf="errors?.['required']" translate>
                    You have to enter a name
                  </p>
                  <p class="error" *ngIf="errors?.['minlength']">
                    <span translate>You have to write at least</span>
                    {{ errors?.['minlength'].requiredLength }}
                    <span translate>letters</span>
                  </p>
                  <!-- <p>{{ errors | json}}</p> -->
                </ng-container>
              </ng-container>
            </ng-container>
            <input
              formControlName="mail"
              class="mail"
              placeholder="Your email"
              type="mail"
              #mail
              id="mail"
            />
            <ng-container *ngIf="contactForm.controls['mail'] as mail">
              <ng-container *ngIf="mail.dirty || mail.touched">
                <ng-container *ngIf="mail.errors as errors">
                  <p class="error" *ngIf="errors?.['required']" translate>
                    You have to enter an email
                  </p>
                  <p class="error" *ngIf="errors?.['minlength']">
                    <span translate>You have to write at least</span>
                    {{ errors?.['minlength'].requiredLength }}
                    <span translate>letters</span>
                  </p>
                  <p
                    class="error"
                    *ngIf="!errors?.['minlength'] && errors?.['email']"
                    translate
                  >
                    This email is incorrect
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
            <textarea
              formControlName="message"
              class="message"
              placeholder="Your message"
              #message
              id="message"
            ></textarea>
            <ng-container *ngIf="contactForm.controls['message'] as message">
              <ng-container *ngIf="message.dirty || message.touched">
                <ng-container *ngIf="message.errors as errors">
                  <p class="error" *ngIf="errors?.['required']" translate>
                    You have to write a message
                  </p>
                  <p class="error" *ngIf="errors?.['minlength']">
                    <span translate>You have to write at least</span>
                    {{ errors?.['minlength'].requiredLength }}
                    <span translate>letters</span>
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
            <button
              [disabled]="
                !(contactForm.valid && (contactForm.dirty || contactForm.touched))
              "
              type="submit"
              class="greenButton"
              #button
              translate
            >
              Send message
            </button>
          </form>
        </div> 
      </div>
      <img
      loading="lazy"
      class="goUpButton"
      (click)="ScrollToTopService.scrollToTop()"
      src="assets/img/icons/goUpButton2.png"
      alt="goUpButton"
    />
    </div>
    <img
      loading="lazy"
      class="purpleShadow"
      src="assets/img/shadows/purpleShadow3.png"
      alt="purpleShadow"
    />
  </section>