<section id="aboutMe">
  <div data-aos="fade-down-right" class="left">
    <h1 translate>About me</h1>
    <p class="text1" translate>
      Hello, I am a frontend developer and live in Heppenheim, Germany.
      I have built several web applications and I really enjoy it.
      The development of web apps is close to my heart and I would like
      to demonstrate my skills in the professional world and write innovative and useful software together with you.
    </p>
    <div>
      <img loading="lazy" class="noselect" src="assets/img/icons/bulb.png" alt="bulb" />
      <p class="text2" translate>
        Through my participation in group projects, I gained valuable insights into collaboration on software
        development projects.
        I have gained extensive experience in various projects ranging from simple one-page websites to business
        applications using Angular
        and games using JavaScript. I received a comprehensive code review for each project.
      </p>
    </div>
    <div>
      <img loading="lazy" class="noselect" src="assets/img/icons/puzzle.png" alt="puzzel" />
      <p class="text3" translate>
        I completed my training as a developer part-time at the Developer Academy in Munich.
        With the know-how, I look forward to using my skills and experience as your new junior developer
        contribute to the success of your company.
      </p>
    </div>
  </div>

  <div class="right">
    <div class="border noselect"></div>
    <img loading="lazy" class="strokeGreen noselect" src="assets/img/icons/strokeGreen.png" alt="strokeGreen" />
    <img loading="lazy" class="purpleShadow noselect" src="assets/img/shadows/purpleShadow.png" alt="purpleShadow" />
  </div>
</section>