<section id="aboutMe">
  <div data-aos="fade-down-right" class="left">
    <h1 translate>About me</h1>
    <p class="text1" translate>
      Hello, I'm a front-end developer living in Heppenheim, Germany.
      In the meantime, writing software has become a part of my life.
      I have created several web applications, and I really enjoy it.
      I'm passionate about developing web apps, and I want to prove my skills
      in the professional world and write innovative and useful software together with you.
    </p>
    <div>
      <img loading="lazy" class="noselect" src="assets/img/icons/bulb.png" alt="bulb" />
      <p class="text2" translate>

        Through my participation in group projects, I have gained valuable insights into collaborating on software
        development projects.
        I was able to gain extensive experience in various projects, ranging from simple one-pager websites to business
        applications and games with JavaScript and Angular.
        For each project, I received a detailed code review from experienced programmers from the academy, who showed me
        from the beginning how to write clean code.
      </p>
    </div>
    <div>
      <img loading="lazy" class="noselect" src="assets/img/icons/puzzle.png" alt="puzzel" />
      <p class="text3" translate>
        I completed my training as a developer part-time at the Developer Academy in Munich.
        Right now, I'm still training to become a backend/full-stack developer.
        With the know-how I gained at this professional and project-oriented programming school
        I look forward to using my skills and experience as your new junior developer and
        contributing to the success of your company.
      </p>
    </div>
  </div>

  <div class="right">
    <div class="border noselect"></div>
    <img loading="lazy" class="strokeGreen noselect" src="assets/img/icons/strokeGreen.png" alt="strokeGreen" />
    <img loading="lazy" class="purpleShadow noselect" src="assets/img/shadows/purpleShadow.png" alt="purpleShadow" />
  </div>
</section>