<section id="portfolio">
  <div data-aos="fade-down-right" class="headline">
    <h1>
      Portfolio
      <img loading="lazy" class="short" src="assets/img/icons/strokePurpleShort2.png" alt="Stroke" />
      <img loading="lazy" class="long" src="assets/img/icons/strokePurpleLong.png" alt="Stroke" />
    </h1>
    <p translate>
      This section is a sample of my work - please feel free to try them out.
    </p>
  </div>

  <div data-aos="fade-down-right" class="project">
    <div class="img">
      <img loading="lazy" src="assets/img/portfolioJoin.png" alt="portfolio" />
    </div>
    <div class="text">
      <h2>Join</h2>
      <span>JavaScript | CSS | HTML</span>
      <p translate>
        A Kanban task management system to create and organize tasks using drag
        and drop. You can create multiple users, tasks, categories, subtasks,
        and more.
      </p>
      <div class="buttons">

        <a href="https://michaelschneider.dev/join2/index.html" target="_blank">
          <button class="purpleButton">Live test</button>
        </a>

        <a href="https://github.com/M5c8n31d3r/join" target="_blank">
          <button class="greenButton">Github</button>
        </a>
      </div>
    </div>
  </div>
  <div data-aos="fade-down-left" class="project reverse">
    <div class="img">
      <img loading="lazy" src="assets/img/portfolioElPoloLoco.png" alt="portfolio" />
    </div>
    <div class="text">
      <h2>El Pollo Loco</h2>
      <span>JavaScript | CSS | HTML</span>
      <p translate>
        A simple Jump-and-Run game based on an object-oriented approach. Help
        Pepe get home but watch out for the big chicken.
      </p>
      <div class="buttons">

        <a href="https://michaelschneider.dev/elPolloLoc0/index.html" target="_blank">
          <button class="purpleButton">Live test</button>
        </a>

        <a href="https://github.com/M5c8n31d3r/elPolloLoc0" target="_blank">
          <button class="greenButton">Github</button>
        </a>
      </div>
    </div>
  </div>

  <!-- <div data-aos="fade-down-right" class="project">
      <div class="img">
        <img
          loading="lazy"
          src="assets/img/portfolioRingOfFire.png"
          alt="portfolio"
        />
      </div>
      <div class="text">
        <h2>Ring of fire</h2>
        <span>Angular | Typescript | SCSS</span>
        <p translate>
          Angular based web app of the popular drinking game "Ring of fire". You
          have to draw a card and complete the task. Play with your friends on
          multiple devices.
        </p>
        <div class="buttons">
         
          <a href="https://ringoffire-c3914.web.app" target="_blank">
            <button class="purpleButton">Live test</button>
          </a>
          
          <a href="https://github.com/M5c8n31d3r/ringOfFire" target="_blank">
            <button class="greenButton">Github</button>
          </a>
        </div>
      </div>
    </div> -->

  <div data-aos="fade-down-right" class="project">
    <div class="img">
      <img loading="lazy" src="assets/img/portfolio.png" alt="portfolio" />
    </div>
    <div class="text">
      <h2>My Portfolio</h2>
      <span>Angular | Typescript | SCSS</span>
      <p translate>
        Angular based web app from my portfolio.
      </p>
      <div class="buttons">

        <a href="https://www.michaelschneider.dev" target="_blank">
          <button class="purpleButton">Live test</button>
        </a>

        <a href="https://github.com/M5c8n31d3r/Portfolio" target="_blank">
          <button class="greenButton">Github</button>
        </a>
      </div>
    </div>
  </div>

  <img loading="lazy" class="purpleShadow" src="assets/img/shadows/purpleShadow2.png" alt="purpleShadow" />
  <img loading="lazy" class="greenShadow" src="assets/img/shadows/greenShadow2.png" alt="greenShadow" />
</section>