<section data-aos="fade-down" data-aos-duration="2000" data-aos-delay="150">
    <div class="img">
      <img
        loading="lazy"
        class="shadow noselect"
        src="assets/img/shadows/photoShadows.png"
        alt="photoShadows.png"
      />
      <div
        class="blurLoad"
        id="blurLoad"
      >
        <img
          id="profileImg"
          loading="lazy"
          class="picture noselect"
          src="assets/img/profileImg1.jpg"
          alt="Img"
        />
      </div>
    </div>
    <div class="iAmContainer">
      <div class="iAmText">
        <div class="iAm">I am</div>
        <div class="collum">
          <div class="name">Michael Schneider</div>
          <div class="job">FRONTEND DEVELOPER</div>
        </div>
      </div>
      <button
        class="greenButton noselect"
        onclick="document.getElementById('contact').scrollIntoView();"
        translate
      >
        Let's talk!
      </button>
    </div>
    <img
      loading="lazy"
      class="vector"
      src="assets/img/vector.png"
      alt="background"
    />
    <a class="scrollDown noselect" href="#aboutMe">
      <span>Scroll down</span>
      <img loading="lazy" src="assets/img/icons/arrowDown.png" alt="arrow down" />
    </a>
    <div class="linkList">
      <img
        loading="lazy"
        src="assets/img/icons/strokePurple.png"
        alt="stroke purple"
      />
      
      <a href="https://github.com/M5c8n31d3r" target="_blank">
        <img loading="lazy" src="assets/img/icons/gitHub.png" alt="GitHub" />
      </a>
      <a href="#contact">
        <img loading="lazy" src="assets/img/icons/mail.png" alt="Mail" />
      </a>
            <!-- Muss noch! -->

      <a href="https://www.linkedin.com/in/michael-schneider-8a01a7285/" target="_blank">
        <img loading="lazy" src="assets/img/icons/linkedin.png" alt="Linkedin" />
      </a>
      <a class="mobileHide" href="#contact">info@michaelschneider.dev</a>
    </div>
  </section>