section {
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 4rem;
    position: relative;
    justify-content: center;
    // min-height: 100svh;
    @media (max-width: "1150px") {
        flex-direction: column-reverse;
        padding: 0 7rem 0 7rem;
    }
    @media (max-width: 650px) {
        padding: 2rem 2rem 0 2rem;
        gap: 0rem;
    }
    @media (max-width: 390px) {
        padding: 0 1rem 0 1rem;
    }
    @media (max-height: 890px) {
        padding: 2rem 1rem 0 1rem;
    }
    @media (max-height: 770px) {
        padding: 4rem 1rem 0 1rem;
    }
    @media (max-height: 710px) {
        padding: 6rem 1rem 0 1rem;
    }
}

.left {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 0 0 0 7rem;
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 18%;
        gap: 0.5rem;
        &:hover {
            img {
                animation: jump 1s cubic-bezier(0.2, 0, 0.5, 0.9) alternate;
            }
        }
        img {
            @media (max-width: 450px) {
                width: 2rem;
            }
        }
        span {
            text-align: center;
            @media (max-width: 450px) {
                font-size: 0.75rem;
            }
        }
        @media (max-width: 450px) {
            width: 20%;
        }
    }
    @media (max-width: "1150px") {
        margin: 0;
        justify-content: center;
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-1rem);
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-1rem);
    }
    80% {
        transform: translateY(0);
    }
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;

    img {
        margin-bottom: 1rem;
        margin-right: -5rem;
        bottom: 2rem;
    }
    h1 {
        text-align: flex-end;
        margin-bottom: -5rem;
        margin-right: 2rem;
    }
    p {
        text-align: flex-end;
        width: 70%;
        margin: 6rem;
        margin-bottom: 1rem;
    }
    div {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 8rem;
        .greenButton {
            color: #ffffff;
            margin: 2rem;
            border: 0;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            background: #70e61c;
            z-index: 1;
            font-size: 1.5rem;
            transition: all 125ms ease-in-out;
            box-shadow: 0px 0px 16px #9747ff;
            height: fit-content;
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    padding: 1.5rem 2.5rem;
                    background: #9747ff;
                    box-shadow: 0px 0px 32px #70e61c;
                    cursor: pointer;
                }
            }
        }
    }
    @media (max-width: "1150px") {
        margin: 0;
        width: 100%;
    }
}

.shadow {
    position: absolute;
    z-index: -1;
    top: 20rem;
    left: 0;
    @media (max-width: "1150px") {
        left: -7rem;
    }
}
