<section id="mySkills">
  <div data-aos="flip-up" data-aos-easing="ease-out-cubic"
       data-aos-duration="2000" class="left">
    <div class="icon">
      <img loading="lazy" class="noselect" src="assets/img/mySkillsIcons/angular.png" alt="angular" />
      <span>Angular</span>
    </div>
    <div class="icon">
      <img loading="lazy" class="noselect" src="assets/img/mySkillsIcons/TS.png" alt="TS" />
      <span>TypeScript</span>
    </div>
    <div class="icon">
      <img loading="lazy" class="noselect" src="assets/img/mySkillsIcons/JS.png" alt="JS" />
      <span>JavaScript</span>
    </div>
    <div class="icon">
      <img loading="lazy" class="noselect" src="assets/img/mySkillsIcons/HTML.png" alt="HTML" />
      <span>HTML</span>
    </div>
    <div class="icon">
      <img loading="lazy" class="noselect" src="assets/img/mySkillsIcons/fireBase.png" alt="fireBase" />
      <span>FireBase</span>
    </div>
    <div class="icon">
      <img loading="lazy" class="noselect" src="assets/img/mySkillsIcons/git.png" alt="Git" />
      <span>Git</span>
    </div>
    <div class="icon">
      <img loading="lazy" class="noselect" src="assets/img/mySkillsIcons/css.png" alt="CSS" />
      <span>CSS</span>
    </div>
    <div class="icon">
      <img loading="lazy" class="noselect" src="assets/img/mySkillsIcons/api.png" alt="RestApi" />
      <span>Rest-Api</span>
    </div>
    <div class="icon">
      <img loading="lazy" class="noselect" src="assets/img/mySkillsIcons/scrum.png" alt="Scrum" />
      <span>Scrum</span>
    </div>
    <div class="icon">
      <img loading="lazy" class="noselect" src="assets/img/mySkillsIcons/materialDesign.png" alt="materialDesign" />
      <span>Material <br />
        Design</span>
    </div>
  </div>
  <div data-aos="fade-down-left" class="right">
    <h1 translate>
      My skills
      <img loading="lazy"  src="assets/img/icons/strokePurpleShort2.png" alt="StrokePurple2" />
    </h1>
    <p translate>
      I trained myself in different front-end technologies and concepts and
      implemented several projects with them.
    </p>
    <div>
      <button class="greenButton noselect" onClick="document.getElementById('contact').scrollIntoView();" translate>
        Get in touch
      </button>
    </div>
  </div>
  <img loading="lazy" class="shadow" src="assets/img/shadows/greenShadow.png" alt="greenShadow" />
</section>