<footer>
    <div class="left">
       <span class="name"
       
        >
        <img src="./assets/favicon/mSWeb-32x32-4.png" alt="">
        
        <!-- <div class="purple">&lt;</div>
        <p>M</p> -->
        <!-- <div class="spaceLeft"></div> -->
        <!-- <p></p>
        
        <div class="purple">S</div>/
        <p>&gt;</p> -->
        </span
      >
      

      <span
      class="imprint"
      translate
      routerLink="/imprint"
      
    >
      Imprint | Privacy
      <img
        loading="lazy"
        class="underline"
        src="assets/img/icons/underline.png"
        alt="underline"
      />
    </span>
    </div>
    <div class="middle">© Michael Schneider 2023</div>
    <div class="right">
      <a href="https://github.com/M5c8n31d3r" target="_blank">
        <img loading="lazy" src="assets/img/icons/gitHub.png" alt="gitHub" />
      </a>
      <a href="#contact">
        <img loading="lazy" src="assets/img/icons/mail.png" alt="mail" />
      </a>
      <!-- Muss noch! -->
      <a href="https://www.linkedin.com/in/michael-schneider-8a01a7285/" target="_blank">
        <img loading="lazy" src="assets/img/icons/linkedin.png" alt="linkedin" />
      </a>
    </div>
  </footer>