<header>
          <span class="name" (click)="scrollToTop()">

            <!-- <span class="name">
            <div class="purple">&lt;</div>
            <p>M</p>
            <p></p>
            <div class="purple">S</div>
            <p>&gt;&nbsp;</p>
            </span> -->

            <img src="./assets/favicon/mSWeb-32x32-1.png" alt="">

            <div class="spaceLeft"></div>
            M<p>i</p>ch<div></div><p></p><div class="purple">a</div><p class="color-none">a</p>e <div class="purple">L</div></span>
    <!-- <span class="name" (click)="scrollToTop()">Michael<p></p><div class="spaceLeft">Schneider</div><p></p><div class="purple"></div></span> -->
    <div class="menu">
        <a href="#aboutMe" class="noselect" translate>About me</a>
        <a href="#mySkills" class="noselect" translate>Skills</a>
        <a href="#portfolio" class="noselect">Portfolio</a>
        <a href="#contact" class="noselect">Contact</a>
        <!-- <a (click)="translateEN();" class="noselect">EN</a>
        <a (click)="translateDE();" class="noselect">DE</a> -->
    </div>

    <div class="mobileMenuButton" (click)="openAndCloseMenu()" #mobileMenuButton>
        <svg viewBox="0 0 200 200">
          <g>
            <path d="M72 82.286h28.75"/>
            <path d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554" fill="none"/>
            <path d="M72 125.143h28.75"/>
            <path d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554" fill="none"/>
            <path d="M100.75 82.286h28.75"/>
            <path d="M100.75 125.143h28.75"/>
          </g>
      </svg>
    </div>
    <div class="mobileMenu" #mobileMenu>
        <a href="#aboutMe" (click)="openAndCloseMenu()" class="noselect" translate>About me</a>
        <a href="#mySkills" (click)="openAndCloseMenu()" class="noselect" translate>Skills</a>
        <a href="#portfolio" (click)="openAndCloseMenu()" class="noselect">Portfolio</a>
        <a href="#contact" (click)="openAndCloseMenu()" class="noselect">Contact</a>
        <!-- <a (click)="translateEN();" class="noselect" (click)="openAndCloseMenu()">EN</a>
        <a (click)="translateDE();" class="noselect" (click)="openAndCloseMenu()">DE</a> -->
    </div>
</header>